.dub
docs.json
__dummy.html
docs/
mediainfo-demo1.so
mediainfo-demo1.dylib
mediainfo-demo1.dll
mediainfo-demo1.a
mediainfo-demo1.lib
mediainfo-demo1-test-*
dub.selections.json
mediainfo-demo1
*.exe
*.o
*.obj
*.lst
*.mdb
